/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.page-footer {
     margin-top: 50px!important;
   }
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

/*DRAG N DROP*/

        #sort1 .column{
            transition: 0.3s;
        }
        .is-dragged{
            opacity: 0.5;
            z-index: 9000;
        }

        .masthead.segment {
            padding: 2em 0em; }

        .masthead .logo.item img {
            margin-right: 1em; }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em; }

        .masthead h1.ui.header {
            padding-top: 1em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal; }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
            padding-bottom: 2em;
        }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* ALERT */

.alert{
  margin-top: 50px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
